*{
    margin:0px;
    padding:0px;
}
.first-part{
    display:flex;
    justify-content: space-between;
     padding:10px 60px;
     padding-top: 50px;
}
.img-part{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:60px;
    margin:70px;
}
img{
    width:100%;
}
.second-img{
    padding-top: 50px;
}
p{
    padding-right: 50px;
}
@media screen and (max-width: 576px) {
    .first-part{
        flex-direction: column;
        gap:30px;
    }
    .img-part{
        grid-template-columns: repeat(2,1fr);
    }
    .third-img{
        padding-top: 50px;
    }
    #five{
        padding-top: 0px;
    }
    
}